<div class="container-fluid text-bg-light p-4">
  <h5>Chi Tiết Nhân viên</h5>
  <div class="row mt-4">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2>Nhân viên</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="avatar.jpg" class="img-fluid rounded-circle" alt="Avatar">
            </div>
            <div class="col-md-8">
              <h5 class="card-title">Tên nhân viên </h5>
              <p class="card-text"><strong>Ngày sinh:</strong> January 1, 1980</p>
              <p class="card-text"><strong>Địa chỉ:</strong> 123 Main St, City, Country</p>
              <p class="card-text"><strong>Giới tính:</strong> Male</p>
              <p class="card-text"><strong>Số điện thoại:</strong> 123-456-7890</p>
              <p class="card-text"><strong>Email:</strong> john.doe@example.com</p>
              <p class="card-text"><strong>Vị trí công việc:</strong> Software Engineer</p>
              <p class="card-text"><strong>Ngày tạo:</strong> January 15, 2020</p>
              <p class="card-text"><strong>Người tạo:</strong> Admin</p>
              <p class="card-text"><strong>Ngày tạo cuối:</strong> February 20, 2021</p>
              <p class="card-text"><strong>Người sửa cuối:</strong> Admin</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


