
<div class="wrapper">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="/admin" class="nav-link">Trang chủ</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a routerLink="" class="nav-link">Liên hệ</a>
      </li>
    </ul>
    <ul class="navbar-nav" style="margin-left: auto !important;">
      <li class="nav-item">
        <a class="nav-icon nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i>
        </a>
        <div class="tab_search">
          <div class="menu_search dropdown-menu">
            <h5> Tìm kiếm</h5>
            <form class="d-flex ultimate-search" role="search">
              <input class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 18px;"></i>
              </button>
            </form>
          </div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-user me-2"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <div class="media">
              Thông tin tài khoản
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a routerLink="" class="dropdown-item">
            <div  class="media">
              Đổi mật khẩu
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item">
            <div class="media">
              Đăng xuất
            </div>
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="" class="brand-link">
      <img src="https://cdn.shopify.com/s/files/1/0636/9044/0949/files/Logo_PCX-line.png?v=1649735521&width=2048" class="brand-image img-circle elevation-3" style="opacity: .8">
    </a>
    <div class="sidebar">
      <app-sidebar-menu></app-sidebar-menu>
    </div>
  </aside>

  <div class="content-wrapper">
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>

  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
