<table class="table caption-top">
  <caption class="text-primary fs-3 text">
    <h3 class="col-4">Danh sách đơn hàng</h3>
    <div>
      <form class=" col-4 form-inline">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
          <button class="btn btn-primary" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
<!--      <button routerLink="create_item" type="button" class="btn btn-success float-end">-->
<!--        <i class="fa-solid fa-plus"></i>-->
<!--        Thêm sản phẩm mới-->
<!--      </button>-->
    </div>

  </caption>
  <thead class="table-light">
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Email</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Tên</th>
    <th scope="col">Họ</th>
    <th scope="col">Mã</th>
    <th scope="col">PT thanh toán</th>
    <th scope="col">Tổng tiền</th>
    <th scope="col">Trạng thái</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td><a class="nav-link" title="Ấn vào để xem chi tiết" routerLink="detail_oder">Mark</a></td>
    <td>Otto</td>
    <td>@mdo</td>
    <td>Mark</td>
    <td>Mark</td>
    <td>Mark</td>
    <td>Mark</td>
    <td>Mark</td>
  </tr>
  </tbody>
</table>

