
<div class="container mt-5">
  <h3 class="mb-4 text-center text-primary">Tên sản phẩm: Laptop</h3>

  <div class="card mb-4">
    <div class="card-body">
      <h5 class="pb-4 border-bottom">Thông tin sản phẩm</h5>
      <div class="row">
        <div class="col-md-6 pt-4">
          <div class="list-group">
            <div class="list-group-item">
              <strong>Tên:</strong> Laptop
            </div>
            <div class="list-group-item">
              <strong>Giá:</strong> 1,200,000 VND
            </div>
            <div class="list-group-item">
              <strong>Phân loại:</strong> Bàn phím
            </div>
            <div class="list-group-item">
              <strong>Thương hiệu:</strong> Dell
            </div>
            <div class="list-group-item">
              <strong>Danh mục sản phẩm:</strong> Bàn phím cơ
            </div>
            <div class="list-group-item">
              <strong>Ngày tạo:</strong> January 15, 2020
            </div>
            <div class="list-group-item">
              <strong>Người tạo:</strong> Admin
            </div>
            <div class="list-group-item">
              <strong>Ngày cập nhật cuối:</strong> February 20, 2021
            </div>
            <div class="list-group-item">
              <strong>Người cập nhật cuối:</strong> Admin
            </div>
            <div class="list-group-item">
              <strong>Layout:</strong> Tenkeyless
            </div>
            <div class="list-group-item">
              <strong>Màu:</strong> Đen
            </div>
            <div class="list-group-item">
              <strong>Switch:</strong> Cherry MX Blue
            </div>
            <div class="list-group-item">
              <strong>Số lượng:</strong> 50
            </div>
          </div>
        </div>

        <div class="col-md-6 pt-4">
          <div class="text-center mb-3">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAFMG8fbGcge8epZsd6ra6zSEMDtGxnsrUuQ&usqp=CAU" alt="Product Image" class="img-fluid rounded">
          </div>
          <h5 class="mt-2">Mô tả</h5>
          <p>Trước đây màu sắc Asagi đặc trưng Nhật Bản chỉ có trên Majestouch Minila-R, nay đã có mặt trên Majestouch 2SC!</p>
          <p>- Thiết kế Tenkeyless và Fullsize tiêu chuẩn dành cho bạn cần bàn phím cơ gọn gàng hoặc đầy đủ phím số để xử lý số liệu.</p>
          <p>- Kết nối cáp USB liền với độ trễ rất thấp giúp bạn chơi game hoặc gõ phím nhanh không độ trễ.</p>
          <p>- Chất liệu keycap PBT Doubleshot siêu bền với khả năng chống phai ký tự, nhìn rõ kể cả bàn phím dùng được 5 năm.</p>
          <div>
            <p><strong>Designed in Japan</strong></p>
            <p><strong>Bảo hành:</strong> 60 năm đổi mới</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
